.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4ecf7;
  color: #4a235a;
}
.title {
  position: relative;
  bottom: 40px;
  @media screen and (max-width: 750px) {
    font-size: 27px;
  }
}
.linck {
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}
