.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4ecf7;
  color: #4a235a;
}
.title{
  margin: 40px;
}
.linck {
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
  
}
